body
{
    background-color: #121212;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

h1
{
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    animation-name: example;
    animation-duration: 3s;
    margin-top: 100px; 
    font-size: 75pt;
}

@keyframes example 
{
    from {margin-top: 350px; font-size: 100pt;}
    to {margin-top: 100px; font-size: 75pt;}
}

h2
{
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    margin-top: 100px; 
    font-size: 50pt;
    margin-left: 100px;
    margin-right: 100px;
}

#button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #121212;
	border-radius:50px;
	border:5px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:75px;
	padding:13px 36px;
    text-decoration:none;
    margin: 50px;
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    width: 500px;
}

.myButton:hover 
{
	background-color:#5cbf2a;
}

.myButton:active 
{
	position:relative;
	top:1px;
}

#DP
{
    width: 150px;
    border-radius: 50%;
    border: solid white 5px;
}

#back
{
    position:absolute; 
    top: 125px; 
    left: 75px;
    width: 50px;
}

#so_link
{
    color: #ffffff;
}